$color_white: #E5E5E5;
$color_light-aquamarine: #7CC8C9;
$color_black-transparent: rgba(21, 20, 31, 0.6);
$color_light-blue: #7CC8C9;
$color_white-blueish: #D8D9DF;
$color_whitish: #FBFAFA;
$color_dark-grey: #383647;
$color_light-grey: #D8D9DF;
